<!doctype html>
<html>
<head>
    <script src="/static/main.js"></script>
</head>
<body>
<h1>Playlist</h1>
<form method="POST" action="/skip">
    <input type="submit" value="skip"/>
</form>
<ul>
    {% for song in playlist %}
        <li>{{ song }}</li>
    {% endfor %}
</ul>
<hr>
<form method="POST" action="/upload" enctype=multipart/form-data>
    <input class="file-upload" type="file" name="file[]" accept=".dfpwm" multiple/>
    <input type="submit" value="upload"/>
</form>

</body>
</html>