:root {
    --primary: #B53266;
    --secondary: #2D1310;
    --highlight: #FF46CD;
    --highlight-secondary: #53C23C;
    --dark: #1C050D;
    --text-color: #2D1511;
    --header-color: #EEEEEE;
}

body {
    background: var(--primary);
    color: var(--text-color);
    font-family: Raleway, sans-serif;
    margin: 0;
}

button {
    background-color: var(--highlight);
    border: 2px solid var(--highlight);
    color: var(--dark);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

button:hover {
    background: transparent;
    color: var(--highlight);
    border: 2px solid var(--highlight);
}

.play-button {
    background-color: var(--highlight-secondary);
    border: 2px solid var(--highlight-secondary);
}

.play-button:hover {
    background-color: transparent;
    border: 2px solid var(--highlight-secondary);
    color: var(--highlight-secondary);
}

.volume-slider {
    color: var(--header-color);
    justify-self: flex-end;
    margin-left: auto;
    /*margin-top: 16px;*/
    float: right;
    margin-right: 24px;
    width: 170px;
    display: inline-flex;
}

.volume-slider input[type=range] {
    cursor: pointer;
    background-color: var(--header-color);
    border-radius: 6px;
    height: 42px;
    color: var(--highlight-secondary);
    -webkit-appearance: none;
    margin-top: 6px;
}

.volume-slider input[type=range]:hover {
    filter: brightness(115%);
}

.volume-slider input[type='range']::-webkit-slider-runnable-track {
    height: 24px;
    -webkit-appearance: none;
    color: var(--highlight-secondary);
    margin-top: -1px;
}

.volume-slider input[type='range']::-webkit-slider-thumb {
    width: 32px;
    -webkit-appearance: none;
    height: 24px;
    background: var(--highlight-secondary);
}

.volume-slider-icon {
    color: var(--header-color);
    margin-left: auto;
    padding-left: 8px;
    margin-top: 16px;
    margin-right: 8px;
    justify-self: flex-end;
    font-size: 24px;
}

#main {
    margin: 8px;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    background: var(--secondary);
    color: var(--header-color);
    font-family: "Harlow Solid", cursive;
    font-size: 64px;
    padding: 1rem;

}

.navbar-nav a {
    padding: 1rem;
    color: var(--header-color);
}

.navbar-nav a:hover {
    /*Lazy man's darken*/
    filter: brightness(70%);
    background: var(--highlight);
}

.active {
    background: var(--secondary);
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/*https://codepen.io/lewismcarey/pen/GJZVoG source*/

.navbar-ticker {
    background: var(--dark);
    color: var(--highlight);
    font-family: "Courier New", monospace;
    font-size: 48px;

    padding: 16px 0px 16px 100%;
    /*width: 100%;*/
    overflow-x: hidden;
}

.navbar-ticker p {
    display: inline-block;
    margin: 0;
    max-height: 64px;
    white-space: nowrap;
    box-sizing: content-box;
    padding: 0 100% 0 100%;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;

}

/*Bottom bar with upload.*/

.dock-bar {
    position: fixed;
    display: inline-flex;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: var(--dark);
    flex-wrap: wrap;

}

.upload-input {
    justify-self: center;
    align-self: center;
    display: inline-flex;
    width: 400px;
    /*margin-left: 40px;*/
}

@media (max-width: 860px) {
    .upload-input {
        display: none;
    }
}

.file-upload {
    color: var(--header-color);
    padding: 15px 32px;
    font-size: 16px;
}

.file-checkmark {
    color: var(--header-color);
    padding: 15px 32px;
    background-color: var(--highlight);
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.file-checkmark-label {
    color: var(--header-color);
    font-size: 16px;
    margin-right: 16px;
}

.song-queue {
    border-top: 3px solid var(--dark);
    list-style: none;
    /*padding-left: 0;*/
}

.song-queue li {
    border-bottom: 2px solid var(--dark);
    display: inline-flex;
    width: 100%;
    vertical-align: middle;
}

.now-playing:before {
    content: "Now playing";
    display: inline-block;
    margin-left: 1rem; /* same as padding-left set on li */
    margin-right: 1rem;
    margin-top: 1.5rem;
    /* same as padding-left set on li */
    color: var(--highlight-secondary);
    font-weight: bold;
    font-family: "Courier New", monospace;
    font-size: 18px;

}

.now-playing {
    /*background-color: var(--highlight-secondary);*/
    /*border: 2px solid var(--highlight-secondary);*/
}

.records {
    background-color: var(--secondary);
    margin-bottom: 0;
    margin-top: 16px;
    color: var(--header-color);
    padding: 16px 16px 100px;
}

.records-search {
    padding: 16px 16px 16px 0;
}

.records-search input {
    padding: 16px;
    font-size: 16px;
}

.records-table {
    width: 100%;
}

.records-table .button {
    margin: 0;
    width: 85px;
}

.trash-button {
    visibility: hidden;
}

.records-table tr:hover .trash-button {
    visibility: visible;
}


.playlist-button {
    visibility: hidden;
    float: right;
    background-color: transparent;
    color: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 50%;
    padding: 16px;
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-top: 10px;
}

.playlist-button:hover {
    color: var(--header-color);
    border: 2px solid var(--header-color);
    background-color: transparent;
    margin-left: 0;

}

.song-queue li:hover .playlist-button {
    visibility: visible;

}

.user-connections {
    width: 100%;
    justify-content: right;
    display: inline-flex;
}

.user-connections p {
    border-bottom: 2px solid var(--dark);
}