<template>
  <div id="app">
    <navbar/>
    <div id="main">
      <!--      TODO maybe this should be a main element?-->
      <p>Welcome to the best damn radio you have ever heard in this particular minecraft sever. YO!</p>
      <Playlist/>
      <Upload/>
    </div>
    <Platendoos id="records"/>
  </div>
</template>

<script>
import Vue from "vue";
import Component from "vue-class-component";
import Playlist from "@/components/Playlist";
import Upload from "@/components/Dock";
import Navbar from "@/components/Navbar";
import Platendoos from "@/components/Collection";



@Component({
  components: {Platendoos, Playlist, Upload, Navbar}
})
export default class App extends Vue {

  mounted() {
    this.$store.dispatch('refreshPlaylist');
  }
}
</script>