<template>
  <div class="records">
    <h3>Record stash</h3>
    <p>Welcome to the records stash! This is the area where previously uploaded songs live to rummage through.</p>
    <hr>
    <div class="records-search">
      <button @click="addRandom">Feeling lucky</button>

      <input v-model="search" id="search" placeholder="search">
      <!--      <input class="file-checkmark" type="checkbox" v-model="queueNext" id="queueNext2">-->
      <!--      <label class="file-checkmark-label" for="queueNext2">Queue as up next</label>-->
    </div>
    <table class="records-table">
      <tr v-for="(file, index) in rows" :key="index">
        <td class="button">
          <button @click="queue(file)">+</button>
        </td>
        <td>{{ humanizeFilename(file) }}</td>
        <td class="button trash-button">
          <button @click="trash(file)">
            <font-awesome-icon icon="trash"/>
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import Fuse from "fuse.js";

@Component
export default class Collection extends Vue {
  search = "";
  queueNext = false;

  mounted() {
    this.$store.dispatch("refreshFiles");
  }

  get rows(): string[] {
    return this.search.length ? (new Fuse(this.files.map(file => ({
      file,
      name: this.humanizeFilename(file),
    })), {keys: ["name"]})).search(this.search).map(x => x.item.file) : this.files;
  }

  get files(): string[] {
    return this.$store.state.files;
  }

  get playlist(): string[] {
    return this.$store.state.playlist;
  }

  async queue(filename: string) {
    await this.$store.dispatch("queue", {filename, queueNext: this.queueNext});
  }

  async addRandom() {
    const pool = this.files.filter(x => !this.playlist.includes(x));

    if (pool.length === 0) {
      alert("Try uploading something");
    } else {
      await this.queue(pool[Math.floor(Math.random() * pool.length)] ?? pool[0]);
    }
  }

  async trash(filename: string) {
    await this.$store.dispatch("trashFile", filename);
  }

  humanizeFilename(filename: string) {
    return filename.replaceAll("_", " ").replace(/\.dfpwm$/i, "");
  }
}
</script>
