<template>
  <div>

    <div v-if="uploading">
      <hr>
      <h3 v-if="queue.length">Converting:</h3>
      <h3 v-else>Uploading...</h3>
      <ul v-for="(item, index) of queue" :key="index">
        <li>{{ item.name }} - {{ item.state }}</li>
      </ul>
    </div>

    <div class="dock-bar">
      <div class="player-input">
        <button v-if="!running" @click="play" class="play-button">
          <font-awesome-icon icon="play"></font-awesome-icon>
        </button>
        <button v-else-if="!bufferReady" class="play-button" disabled>Buffering...</button>
        <button v-else @click="stop" class="play-button">
          <font-awesome-icon icon="stop"></font-awesome-icon>
        </button>

        <StoreDispatchButton action="skipSong">
          <font-awesome-icon icon="step-forward"></font-awesome-icon>
        </StoreDispatchButton>
        <!--      <StoreDispatchButton action="refreshPlaylist">Refresh</StoreDispatchButton>-->
        <StoreDispatchButton action="shufflePlaylist" confirm>
          <font-awesome-icon icon="random"></font-awesome-icon>
        </StoreDispatchButton>


      </div>
      <div class="upload-input">
        <input class="file-upload" type="file" multiple :disabled="uploading"
               @change="files = Array.from($event.target.files)" :key="fileInputKey"/>

        <button @click="upload" :disabled="uploading">
          <font-awesome-icon icon="upload"></font-awesome-icon>
        </button>
      </div>
      <div class="volume-slider">
        <label for="volume" style="display: none">Volume</label>
        <!--        TODO make volume icon mute toggle-->
        <font-awesome-icon v-if="volume !== 0" @click="mute" icon="volume-up"
                           class="volume-slider-icon"></font-awesome-icon>
        <font-awesome-icon v-if="volume === 0" @click="unMute" icon="volume-mute"
                           class="volume-slider-icon"></font-awesome-icon>
        <input type="range" v-model="volume" min="0" max="100" step="1" id="volume">
      </div>
    </div>
    <div class="user-connections">
      <p> {{ userInfo.connections }} Connections</p>

    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {queue} from "@/convert";
import StoreDispatchButton from "@/components/StoreDispatchButton.vue";
import {Decoder} from "dfpwm";
import PCMPlayer from "pcm-player";
import {Watch} from "vue-property-decorator";
import {Buffer} from "buffer";

// const SOCKET_URL = `${location.protocol === "https:" ? "wss" : "ws"}://${location.host}/ws`;
const SOCKET_URL = "wss://basfm.thuis.basbieling.com/websocket";

@Component({
  components: {
    StoreDispatchButton,
  },
})

export default class Upload extends Vue {
  files: File[] = [];
  uploading = false;
  queueNext = false;

  fileInputKey = 0;
  queue = queue;
  queueInterval?: number;

  userUpdateInterval?: number;

  get fileNames(): string[] {
    return this.files.map(x => x.name);
  }

  get userInfo(): any {
    return this.$store.state.users;
  }

  async upload() {
    this.uploading = true;

    try {
      await this.$store.dispatch("upload", {files: this.files, queueNext: this.queueNext});
    } finally {
      this.uploading = false;
      this.fileInputKey++;
    }
  }

  mounted() {
    this.queueInterval = setInterval(() => {
      this.queue = queue;
    }, 500);

    this.userUpdateInterval = setInterval(() => {
      this.$store.dispatch("updateUsers");
    }, 5000);

    this.$store.dispatch("updateUsers");
  }

  beforeDestroy() {
    clearInterval(this.queueInterval);
    clearInterval(this.userUpdateInterval);
  }

  decoder = new Decoder();
  player?: PCMPlayer;
  ws?: WebSocket;
  volume = 50;
  mute_volume = 0;

  buffer: ArrayBuffer[] = [];
  initBuffer = 4;
  bufferReady = false;

  running = false;

  play() {
    if (this.running) {
      return;
    }

    this.running = true;

    this.player = new PCMPlayer({
      inputCodec: "Int8",
      channels: 1,
      sampleRate: 48000,
      flushTime: 1000, // ????
    });

    this.player.volume(this.volume / 100);

    this.ws = new WebSocket(SOCKET_URL);
    this.ws.binaryType = "arraybuffer";

    this.ws.onmessage = this._onData.bind(this);
  }

  @Watch("volume")
  onVolumeChange() {
    this.player?.volume(this.volume / 100);
  }

  _onData(event: MessageEvent) {
    this.buffer.push(event.data);

    if (!this.bufferReady) {
      this.bufferReady = this.initBuffer <= this.buffer.length;
      return;
    }

    this.decode();
  }

  decode() {
    let arr = this.buffer.shift();

    while (arr) {
      const buffer = ArrayBuffer.isView(arr) ? Buffer.from(arr.buffer, arr.byteOffset, arr.byteLength) : Buffer.from(arr);
      const data = this.decoder.decode(buffer);

      this.player?.feed(data);

      arr = this.buffer.shift();
    }
  }

  stop() {
    this.ws?.close();
    this.player?.destroy();

    this.running = false;
  }

  mute() {
    this.mute_volume = this.volume;
    this.volume = 0;
  }

  unMute() {
    this.volume = this.mute_volume;
  }
}


</script>
