<template>
  <div>
    <div class="navbar-nav">
      <a class="active" href="#main">Home</a>
      <a href="#records">Records</a>
    </div>
    <div class="navbar-ticker">
      <p>{{ tickerMessage }}</p>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'
@Component({

})
export default class Navbar extends Vue {
  get playlist() {
    return this.$store.state.playlist;
  }

  get tickerMessage() {
    return `Now playing: ${this.playlist[0] || 'Nothing, add something to the que!'} | Get on it! | Use the bar at the bottom to skip a song, refresh the playlist, or upload one of your own songs! | Coming up: ${this.playlist[1] || 'Nothing'}`;
  }
}
</script>
