<template>
  <div>
    <h3>Coming up:</h3>
    <ul class="song-queue">
      <li v-for="(song, index) in playlist" :key="index" :class="{ 'now-playing': index === 0 }">
        <h2>{{ displaySongTitle(song) }}</h2>
        <!--        TODO make round icons-->
        <button class="playlist-button" style="margin-left: auto" title="Play as next" @click="promote(index)">^
        </button>

        <button class="playlist-button" title="Remove from queue" @click="skip(index)">X</button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component
export default class Playlist extends Vue {
  interval?: number;

  get playlist(): string[] {
    return this.$store.state.playlist;
  }

  refresh(): Promise<void> {
    return this.$store.dispatch("refreshPlaylist");
  }

  mounted() {
    this.interval = setInterval(() => this.refresh(), 5000);
  }

  skip(id: number) {
    return this.$store.dispatch("skipSong", id);
  }


  promote(id: number) {
    return this.$store.dispatch("promoteSong", id);
  }

  beforeDestroy() {
    clearInterval(this.interval);
  }

  displaySongTitle(song: string) {
    return song.replaceAll('_', ' ').replace(/\.dfpwm$/i, '');
  }
}
</script>
