<template>
  <button @click="dispatch">
    <slot/>
  </button>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import {queue} from "@/convert";
import {Prop} from "vue-property-decorator";

@Component
export default class StoreDispatchButton extends Vue {
  @Prop({required: true}) readonly action!: string;
  @Prop({default: false, type: Boolean}) readonly confirm!: boolean;

  dispatch(): Promise<void>|void {
    if (!this.confirm || confirm("Are you sure?")) {
      return this.$store.dispatch(this.action);
    }
  }

}
</script>
